<peachy-healthcare-generic-header></peachy-healthcare-generic-header>

<ion-content>
  <div class="content-container">

    <div class="profile-card">
      <div class="profile-card-left">
        <div class="profile-img">
          <img src="assets/img/avatar-full.png"/>
        </div>
        <div class="profile-info">
          <div class="profile-name">{{currentUser.firstName}} {{currentUser.lastName}}</div>
          <div class="profile-code">{{currentUser.userRef}}</div>
        </div>
      </div>

      <div class="profile-card-right">

        <div class="profile-details-title">
          Profile Details
        </div>

        <ion-row>
          <ion-col size="3">
            <div class="data-title">
              First Name:
            </div>
          </ion-col>
          <ion-col>
            <div class="data-value">
              {{currentUser.firstName}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
            <div class="data-title">
              Last Name:
            </div>
          </ion-col>
          <ion-col>
            <div class="data-value">
              {{currentUser.lastName}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
            <div class="data-title">
              Age:
            </div>
          </ion-col>
          <ion-col>
            <div class="data-value">
              {{currentUser.age}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
            <div class="data-title">
              Phone Number:
            </div>
          </ion-col>
          <ion-col>
            <div class="data-value">
              {{currentUser.phoneNumber}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
            <div class="data-title">
              Email Address:
            </div>
          </ion-col>
          <ion-col>
            <div class="data-value">
              {{currentUser.username}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
            <div class="data-title">
              Address:
            </div>
          </ion-col>
          <ion-col>
            <div class="data-value">
              {{currentUser.address?.building_number}} {{currentUser.address?.thoroughfare}} {{currentUser.address?.town_or_city}} {{currentUser.address?.county}} {{currentUser.address?.country}} {{currentUser.address?.postcode}}
            </div>
          </ion-col>
        </ion-row>

        <div>
          <ion-button color="brand" (click)="requestToDeleteMyAccount()">
            <ion-label>Delete My account</ion-label>
            <ion-icon *ngIf="!isLoading" slot="end" name="arrow-forward-outline"></ion-icon>
            <ion-spinner class="ion-margin-x-8" *ngIf="isLoading" slot="end"></ion-spinner>

          </ion-button>
        </div>

      </div>
    </div>
  </div>
</ion-content>
