ion-toolbar {
  --min-height: 5rem;
  --background: var(--ion-color-pure-white);
  --border-color: var(--ion-color-stroke);
}

ion-content {
  --background: #FAFAFA;
}

.header-bar {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .header-bar-title {
    color: #414141;
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.content-container {
  padding: 1.5rem;
}

.report-card {
  border-radius: 0.5rem;
  background: #FFF;
  padding: 1.5rem;
}


.table-title {
  color: #1F2D3D;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1.5rem;
}

.table-header {
  background: #FFF2F2;
  box-shadow: 0px -1px 0px 0px #EDF2F7 inset;
  padding: 1.125rem 1.5rem 1.125rem 1.5rem;


  .table-col {
    color: #231F20;
    font-family: "DMSans-Regular";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}


.table-row {
  box-shadow: 0px -1px 0px 0px #EDF2F7 inset;
  padding: 1.125rem 1.5rem 1.125rem 1.5rem;

  .table-col {
    color: #425466;
    font-family: "DMSans-Regular";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .button {
      display: flex;
      padding: 0.5rem 1rem;
      align-items: center;
      border-radius: 0.25rem;
      border: 1px solid var(--border-light, #EDF2F7);
      align-self: stretch;
      justify-content: center;
    }


    .indicator {
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem;
      background: #16D81E;

      &.pending {
        background: #D8C516 !important;
      }
    }
  }
}

@media (max-width: 508px) {
  .date-card {
    margin-left: 0rem;
  }

  .content-container {
    padding: 1rem;
  }

  .report-card {
    padding: 0.5rem;
  }
}


.tab-segment {
  // width: 23.9375rem;
  height: 4.7525rem;
  margin: 0 auto;

  ion-segment {
    height: 4.7525rem;
    border-radius: 2.16rem;
    --background: #fff;
    padding: 0.44rem;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);

    ion-segment-button {
      --border-radius: 2.16rem;
      color: #555C63;

      ion-label {
        font-family: DMSans-Regular;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.875rem;
      }
    }
  }

  ion-segment-button::part(indicator-background) {
    background: var(--ion-color-brand);
  }

  ion-segment-button.ios {
    --color: #555C63;
  }

  /* Material Design styles */
  .segment-button-checked::part(native) {
    color: #fff;
  }

  .segment-button-checked.md::part(native) {
    color: var(--ion-color-brand);
  }
}


.tab-content {
  color: #323232;
  font-family: DMSans-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  margin-bottom: 1rem;

  div {
    margin-bottom: 0.5rem;
  }
}


.drug-popover {
  --min-width: 500px;
  box-shadow: 0px 2px 12px rgba(205, 205, 205, 0.32);
  border-radius: 6px !important;
  --border-radius: 6px !important;
}
