<ion-header>
  <ion-toolbar>
    <!-- <ion-title>MyTest</ion-title> -->
    <ion-buttons slot="end" class="ion-margin-right-16">
      <ion-button>
        <ion-icon slot="icon-only" src="assets/icon/notification.svg"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-img slot="start" src="assets/img/avatar.png"></ion-img>
        <div class="profile-info ion-margin-left-8">
          <div class="title">DAN-01234567</div>
          <div class="name">
            <div>Dansteve</div>
            <div><ion-img slot="icon-only" src="assets/icon/down.svg"></ion-img></div>
          </div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
