<ion-content class="container ion-padding">
  <div class="page-flex">
    <div class="modal-img"><ion-img src="assets/icon/take-test-modal.svg"></ion-img></div>
    <div>
      <div>
        <div class="modal-title">Take a peachy Test</div>
        <div class="modal-subtitle ion-padding-top-8">We are happy to have you here</div>
      </div>

      <div class="stepper ion-padding-top-48 ion-padding-bottom-80">
        <div class="liner"></div>
        <div class="stepper-item">
          <div class="stepper-count full">
            1
          </div>
          <div class="stepper-title">Take our Lifestyle Questionnaire</div>
        </div>
         <div class="stepper-item">
          <div class="stepper-count full">
            2
          </div>
        <div class="stepper-title">Choose your preferred pricing</div>
        </div>
        <div class="stepper-item">
          <div class="stepper-count full">
            3
          </div>
        <div class="stepper-title">Proceed to get your test kit</div>
        </div>
      </div>

      <div class="">
        <ion-button color="light" (click)="dismissModal()">
          <span>
        Get Started
        </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
