ion-input.custom {
  --color: var(--ion-text-color);
  --placeholder-color: var(--ion-text-light-color);
  --placeholder-opacity: 0.8;

  --height: 54px;
  --max-height: 54px;
  height: 54px;
  max-height: 54px;
  min-height: 54px;

  .label-text-wrapper {
    margin-top: 5px;
    color: var(--ion-text-light-color);
  }
}
