<ion-tabs *ngIf="!isDesktop">
  <ion-tab-bar #myTabBar id="myTabBar" mode="ios" slot="bottom" color="light" class="tab-style" [ngClass]="{'add-bottom': isPlatformAndroid}">
    <ion-tab-button tab="dashboard" color="dark" (click)="goBackToTab('dashboard')">
      <img class="icon-size" src="assets/tab/dashboard.svg" *ngIf="currentUrl !== 'dashboard'">
      <img class="icon-size" src="assets/tab/dashboard-active-mobile.svg" *ngIf="currentUrl === 'dashboard'">
      <ion-label>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-test" color="dark" (click)="goBackToTab('my-test')">
      <img class="icon-size" src="assets/tab/my-test.svg" *ngIf="currentUrl !== 'my-test'">
      <img class="icon-size" src="assets/tab/my-test-active-mobile.svg" *ngIf="currentUrl === 'my-test'">
      <ion-label>My Tests</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="history" color="dark" (click)="goBackToTab('history')">
      <img class="icon-size" src="assets/tab/history.svg" *ngIf="currentUrl !== 'history'">
      <img class="icon-size" src="assets/tab/history-active-mobile.svg" *ngIf="currentUrl === 'history'">
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" color="dark" (click)="goBackToTab('profile')">
      <img class="icon-size" src="assets/tab/profile.svg" *ngIf="currentUrl !== 'profile'">
      <img class="icon-size" src="assets/tab/profile-active-mobile.svg" *ngIf="currentUrl === 'profile'">
      <ion-label>My profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<ion-split-pane contentId="main-content" *ngIf="isDesktop" class="desktop my-custom-menu isWhite web-side-menu">
  <ion-menu side="start" menuId="saving" content-id="main-content" [ngClass]="{'iconOnly': iconOnly}">
    <ion-header class="left-toolbar my-color ion-no-border">
      <ion-toolbar class="left-toolbar my-color ion-no-border" translucent style="text-align: left;">
        <div class="collapsesMenu-logo">
          <!-- <ion-icon src="{{'assets/icon/reorder-three-outline.svg'}}" (click)="collapsesMenu()" class="ion-activatable collapsesMenu ripple-parent clickable"></ion-icon> -->
          <div class="company-logo" *ngIf="!iconOnly">
            <ion-img src="assets/img/peachy.png" class="logoImage clickable" color="light" *ngIf="!iconOnly">
            </ion-img>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="my-color">
      <div class="left-side-bar">
        <ion-list lines="none" class="ion-margin-top-40">
          <ion-item (click)="goToTab('dashboard')" class="my-menu-item" [ngClass]="{'active-side-menu': currentUrl === 'dashboard'}" label="dashboard" data="dashboard">
            <img alt="Peachy" src="assets/tab/dashboard.svg" slot="start" *ngIf="currentUrl !== 'dashboard'">
            <img alt="Peachy" src="assets/tab/dashboard-active.svg" slot="start" *ngIf="currentUrl === 'dashboard'">
            <ion-label *ngIf="!iconOnly">
              <div class="title">Overview</div>
            </ion-label>
          </ion-item>
          <ion-item (click)="goToTab('my-test')" class="my-menu-item" [ngClass]="{'active-side-menu': currentUrl === 'my-test'}" label="my-test" data="my-test">
            <img alt="Peachy" src="assets/tab/my-test.svg" slot="start" *ngIf="currentUrl !== 'my-test'">
            <img alt="Peachy" src="assets/tab/my-test-active.svg" slot="start" *ngIf="currentUrl === 'my-test'">
            <ion-label *ngIf="!iconOnly">
              <div class="title">My Tests</div>
            </ion-label>
          </ion-item><ion-item (click)="goToTab('history')" class="my-menu-item" [ngClass]="{'active-side-menu': currentUrl === 'history'}" label="history" data="history">
            <img alt="Peachy" src="assets/tab/history.svg" slot="start" *ngIf="currentUrl !== 'history'">
            <img alt="Peachy" src="assets/tab/history-active.svg" slot="start" *ngIf="currentUrl === 'history'">
            <ion-label *ngIf="!iconOnly">
              <div class="title">History</div>
            </ion-label>
          </ion-item>
          <ion-item (click)="goToTab('profile')" class="my-menu-item" [ngClass]="{'active-side-menu': currentUrl === 'profile'}" label="profile" data="profile">
            <img alt="Peachy" src="assets/tab/profile.svg" slot="start" *ngIf="currentUrl !== 'profile'">
            <img alt="Peachy" src="assets/tab/profile-active.svg" slot="start" *ngIf="currentUrl === 'profile'">
            <ion-label *ngIf="!iconOnly">
              <div class="title">My Profile</div>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border my-color" *ngIf="screenSizeService.heightSize.value >= 750">
      <div>

      </div>
    </ion-footer>
  </ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>
