<ion-header>
  <ion-toolbar>
    <div class="header-row ion-padding">
      <div class="header-row-left">
        <a class="nav-logo" href="#index">
          <ion-img src="assets/img/peachy-side.png"></ion-img>
        </a>

        <div class="nav-links  ion-hide-lg-down">
          <a href="#about">About</a>
          <a href="#how">How it works</a>
          <a href="#pricing">Pricing</a>
          <a href="#faqs">FAQs</a>
        </div>
      </div>
      <div class="header-row-right">
        <ion-button (click)="goTo('login')" fill="outline" color="dark" size="small">
          <ion-label>Login</ion-label>
        </ion-button>
        <ion-button (click)="goTo('register')" color="brand" size="small">
          <ion-label>Sign up</ion-label>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container ion-padding-top">
    <div class="hero" id="index">
      <div class="hero-content">
        <div class="hero-title">Understand how <span>medicines</span> work in your body</div>
        <div class="hero-subtitle">Enjoy life without wondering whether your medicine works or if you will get side effects. With our personalised genetic test you will know which medicine will be the most efficient for you.</div>
        <div>
          <ion-button (click)="goTo('register')" color="brand">
            <ion-label>Get Started</ion-label>
          </ion-button>
        </div>
      </div>
      <div class="hero-img ion-hide-lg-down">
        <ion-img src="assets/img/hero.png"></ion-img>
      </div>
    </div>

    <div class="about" id="about">
      <div class="about-img ion-hide-lg-down">
        <ion-img src="assets/img/about.png"></ion-img>
      </div>
      <div class="about-content">
        <div class="about-title">Features of <span>Peachy healthcare</span></div>
        <div class="">
          <ion-row>
            <ion-col size="6">
              <div class="feature-card">
                <div class="feature-img">
                  <ion-img src="assets/img/hearth.png"></ion-img>
                </div>
                <div class="feature-title"> Take a Test</div>
                <div class="feature-subtitle">An easy at home saliva test will give us an inside look into your pharmaco-genes (genes which metabolise medicines).
                </div>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="feature-card">
                <div class="feature-img">
                  <ion-img src="assets/img/membership.png"></ion-img>
                </div>
                <div class="feature-title"> Membership</div>
                <div class="feature-subtitle">Get your results and start monitoring the effects of your medicines.
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top-16">
            <ion-col size="6">
              <div class="feature-card">
                <div class="feature-img">
                  <ion-img src="assets/img/health_history.png"></ion-img>
                </div>
                <div class="feature-title"> Health History</div>
                <div class="feature-subtitle">Take our simple test to help our results be focussed and individual
                </div>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="feature-card">
                <div class="feature-img">
                  <ion-img src="assets/img/recommendation.png"></ion-img>
                </div>
                <div class="feature-title"> Recommendation</div>
                <div class="feature-subtitle">Discover personalized recommendations for a tailored experience that matches your interests and preferences.
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>

    <div class="take-a-test">
      <div class="take-a-test-content">
        <div class="take-a-test-title">Take a Test and get instant Result</div>
        <div class="take-a-test-subtitle">Using the provided materials in the kit, collect your sample. Ensure you follow the step-by-step instructions carefully to ensure accuracy. Once done, safely package the sample in the return envelope.</div>
        <div>
          <ion-button (click)="goTo('login')" color="light">
            <ion-label color="brand">Take a Test</ion-label>
          </ion-button>
        </div>
      </div>
      <div class="ion-hide-lg-down">
        <ion-img src="assets/img/test.png"></ion-img>
      </div>
    </div>

    <div class="how" id="how">
      <div class="how-title">How it works</div>
      <div class="how-subtitle">Embarking on this testing journey is simple, designed with you in mind. Here's a step-by-step guide to what you/ll personally experience:</div>
    </div>

    <div class="how-card-container">

      <div class="how-divider ion-hide-lg-down">
        <ion-img src="assets/icon/divider.svg"></ion-img>
        </div>

      <div class="how-card">
        <div class="how-card-count full">
          01.
        </div>
        <div class="how-card-content">
          <div class="how-card-title">Get your <span>.Test Kit</span></div>
          <div class="how-card-subtitle">Upon ordering, you'll receive a specially designed test kit delivered directly to your doorstep. Every kit is meticulously packed with all the necessary items you'll need.</div>
        </div>
      </div>

      <div class="how-card how-image ion-hide-lg-down">
        <ion-img src="assets/icon/get-test-kit.svg"></ion-img>
      </div>

      <div class="how-card how-image ion-hide-lg-down">
        <ion-img src="assets/icon/take-test.svg"></ion-img>
      </div>

      <div class="how-card">
        <div class="how-card-count">
          02.
        </div>
        <div class="how-card-content">
          <div class="how-card-title">Take your test</div>
          <div class="how-card-subtitle">Using the provided materials in the kit, collect your sample. Ensure you follow the step-by-step instructions carefully to ensure accuracy. Once done, safely package the sample in the return envelope.</div>
        </div>
      </div>

      <div class="how-card">
        <div class="how-card-count">
          03.
        </div>
        <div class="how-card-content">
          <div class="how-card-title">Test Analysis</div>
          <div class="how-card-subtitle">After sending your sample back, our state-of-the-art laboratory undertakes a detailed analysis. Our dedicated team of professionals ensures that every sample undergoes rigorous testing.</div>
        </div>
      </div>

      <div class="how-card how-image ion-hide-lg-down">
        <ion-img src="assets/icon/test-analysis.svg"></ion-img>
      </div>

      <div class="how-card how-image ion-hide-lg-down">
        <ion-img src="assets/icon/get-result.svg"></ion-img>
      </div>

      <div class="how-card">
        <div class="how-card-count">
          04.
        </div>
        <div class="how-card-content">
          <div class="how-card-title">Get your Result</div>
          <div class="how-card-subtitle">No more prolonged waiting periods! As soon as your test has been analyzed, you'll receive your results. We pride ourselves on our swift turnaround times, ensuring that you're kept informed..</div>
        </div>
      </div>
    </div>

    <div class="pricing" id="pricing">
      <div class="pricing-content">
        <div class="pricing-title">Pricing that works for you</div>
        <div class="pricing-subtitle">Subscribe to our annual plan and <span>get 2 months free!</span></div>
      </div>

      <div class="pricing-segment">
        <ion-segment value="year" [(ngModel)]="pricing">
          <ion-segment-button value="year">
            <ion-label>Annually</ion-label>
          </ion-segment-button>
          <ion-segment-button value="month">
            <ion-label>Monthly</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-row>
        <ion-col sizeXl="4" sizeLg="6" size="12">
          <div class="pricing-card">
            <div class="pricing-card-top">
              <div class="pricing-card-title">Basic Plan</div>
              <div class="pricing-card-amount">£{{pricing === 'year' ? '24.99' : '2.49'}}</div>
              <div class="pricing-card-type">/{{pricing}}</div>
              <div class="w-full">
                <ion-button color="dark" expand="block" shape="round" (click)="goTo('register')">
                  <ion-label> Select plan </ion-label>
                </ion-button>
              </div>
            </div>
            <div class="pricing-card-bottom">
              <div class="pricing-card-item" *ngFor="let item of basicPlan; let i=index">
                <ion-icon src="assets/icon/check.svg"></ion-icon>
                <span>{{item}}</span>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col sizeXl="4" sizeLg="6" size="12">
          <div class="pricing-card brand">
            <div class="pricing-card-top brand">
              <div class="pricing-card-title">Enhanced Plan</div>
              <div class="pricing-card-amount">£{{pricing === 'year' ? '52.99' : '5.29'}}</div>
              <div class="pricing-card-type">/{{pricing}}</div>
              <div class="w-full">
                <ion-button color="dark" expand="block" shape="round" (click)="goTo('register')">
                  <ion-label> Select plan </ion-label>
                </ion-button>
              </div>
            </div>
            <div class="pricing-card-bottom">
              <div class="pricing-card-item" *ngFor="let item of enhancedPlan; let i=index">
                <ion-icon src="assets/icon/check.svg"></ion-icon>
                <span>{{item}}</span>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col sizeXl="4" sizeLg="6" size="12">
          <div class="pricing-card">
            <div class="pricing-card-top">
              <div class="pricing-card-title">Premium Plan</div>
              <div class="pricing-card-amount">£{{pricing === 'year' ? '100.99' : '10.49'}}</div>
              <div class="pricing-card-type">/{{pricing}}</div>
              <div class="w-full">
                <ion-button color="dark" expand="block" shape="round" (click)="goTo('register')">
                  <ion-label> Select plan </ion-label>
                </ion-button>
              </div>
            </div>
            <div class="pricing-card-bottom">
              <div class="pricing-card-item" *ngFor="let item of premiumPlan; let i=index">
                <ion-icon src="assets/icon/check.svg"></ion-icon>
                <span>{{item}}</span>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="copyright ion-padding">&copy; Peachy healthcare by <a href="https://www.linkedin.com/in/dansteve-adekanbi/">Dansteve Adekanbi (2023)</a></div>
  </div>
</ion-content>
