<ion-content class="container ion-padding">
  <div class="page-flex">
    <div class="modal-img"><ion-img src="assets/icon/congratulation.svg"></ion-img></div>
    <div>
      <div>
        <div class="modal-title">Congratulations 🎉</div>
        <div class="modal-subtitle ion-padding-top-8">You have successfully submitted your Test Details, we will let you know when your result is ready</div>
      </div>

      <div class="ion-margin-top-20">
        <ion-button color="light" (click)="dismissModal()">
          <span>
       Thank You
        </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
