<ion-content class="ion-padding">
  <!-- have a login form centered in the middle of the screen. -->
  <div slot="fixed" class="page-fixed">
    <div class="form-card">

      <div><img src="assets/img/peachy.png"></div>

        <div>
          <div class="form-title">Forget Password</div>
          <div class="form-subtitle ion-margin-top-4">We all forget something</div>
        </div>

        <form class="w-full" mode="md" autocomplete="off" #myForm="ngForm" [formGroup]="userForgetPasswordForm">
          <div class="w-full">
            <ion-input class="custom" name="username" formControlName="username" label="Email Address" type="email" label-placement="floating" fill="outline" placeholder="Enter Email" errorText=""></ion-input>
          </div>
        </form>

        <ion-button [disabled]="userForgetPasswordForm.invalid || isLoading" (click)="proceed()" color="brand" expand="block" class="w-full">
          <ion-label>Proceed</ion-label>
          <ion-icon *ngIf="!isLoading" slot="end" name="arrow-forward-outline"></ion-icon>
          <ion-spinner class="ion-margin-x-8" *ngIf="isLoading" slot="end"></ion-spinner>
        </ion-button>

        <div class="form-footer">Do you remember? <a (click)="goTo('login')">Log in</a></div>
      </div>
    </div>
</ion-content>
