<ion-content class="ion-padding">
  <!-- have a login form centered in the middle of the screen. -->
  <div slot="fixed" class="page-fixed">
    <div class="form-card">

      <div class="w-full">
        <div class="flex w-full">
          <ion-button fill="clear" size="small" (click)="goTo('index')">
            <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
          </ion-button>
        </div>
        <div class="ion-padding-bottom-8 peachy-logo">
          <ion-img src="assets/img/peachy.png"></ion-img>
        </div>
      </div>

      <div class="form-title">Welcome Back!</div>

      <form class="w-full" mode="md" autocomplete="off" #myForm="ngForm" [formGroup]="userLoginForm">
        <div class="w-full">
          <ion-input class="custom" name="username" formControlName="username" label="Email Address" type="email" label-placement="floating" fill="outline" placeholder="Enter Email" errorText=""></ion-input>
        </div>
        <div class="w-full">
          <ion-input class="custom" name="password" formControlName="password" label="Password" type="password" label-placement="floating" fill="outline" placeholder="Enter password"></ion-input>
        </div>
        <div class="forgot-password"> <a (click)="goTo('forget-password')">Forgot password</a></div>
      </form>

      <ion-button [disabled]="userLoginForm.invalid || isLoading" (click)="login()" color="brand" expand="block" class="w-full">
        <ion-label>Login</ion-label>
        <ion-icon *ngIf="!isLoading" slot="end" name="arrow-forward-outline"></ion-icon>
        <ion-spinner class="ion-margin-x-8" *ngIf="isLoading" slot="end"></ion-spinner>
      </ion-button>

      <div class="form-footer">Don't have an account? <a (click)="goTo('register')">Create account</a></div>
    </div>
  </div>
</ion-content>
