<ion-content class="ion-padding">
  <!-- have a login form centered in the middle of the screen. -->
  <div slot="fixed" class="page-fixed">
    <div class="form-card">

      <div><img src="assets/img/peachy.png"></div>

        <div class="form-title">Create an Account</div>

        <form class="w-full" mode="md" autocomplete="off" #myForm="ngForm" [formGroup]="userRegistrationForm">
          <div class="w-full">
            <ion-input class="custom" name="firstName" formControlName="firstName" label="First Name" type="text" label-placement="floating" fill="outline" placeholder="Enter First Name"></ion-input>
          </div>
          <div class="w-full">
            <ion-input class="custom" name="lastName" formControlName="lastName" label="Last Name" type="text" label-placement="floating" fill="outline" placeholder="Enter Last Name"></ion-input>
          </div>
          <div class="w-full">
            <ion-input class="custom" name="age" formControlName="age" label="Age" type="text" label-placement="floating" fill="outline" placeholder="Enter Age"></ion-input>
          </div>
          <div class="w-full">
            <ion-input class="custom" name="phoneNumber" formControlName="phoneNumber" label="Phone Number" type="text" label-placement="floating" fill="outline" placeholder="Enter Phone Number"></ion-input>
          </div>
          <div class="w-full">
            <ion-input class="custom" name="username" formControlName="username" label="Email Address" type="email" label-placement="floating" fill="outline" placeholder="Enter Email" errorText=""></ion-input>
          </div>
          <div class="w-full">
            <ion-input class="custom" name="password" formControlName="password" label="Password" type="password" label-placement="floating" fill="outline" placeholder="Enter password"></ion-input>
          </div>
        </form>

        <ion-button [disabled]="userRegistrationForm.invalid" (click)="register()" color="brand" expand="block" class="w-full">
          <ion-label>Create Account</ion-label>
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          <!-- <ion-spinner class="ion-margin-x-8" *ngIf="isLoading" slot="end"></ion-spinner> -->
        </ion-button>

        <div class="form-footer">Already have an account? <a (click)="goTo('login')">Log in</a></div>
      </div>
    </div>
</ion-content>
